<div class="bulk-edit__container">
    <h3 class="bulk-edit__title">Bulk Update Collection</h3>
    <%= link_to 'Go to Simple Edit >', edit_collection_path(@collection.id) %>
    <% if !params['alerts'].blank?  %>
    <div class="bulk-edit__error-alert" role="alert" style="display: block;">
        <ul class="bulk-edit__error-list">
            <% params['alerts'].each do |error| %>
            <li class="bulk-edit__error-item"><%= error %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <%= simple_form_for @collection,  html: { class: "bulk-edit__form"}, url: bulk_update_collection_path(@collection) do |f| %>
    <%= f.text_area :card_list, value: @card_list, class: 'bulk-edit__text-area'%>
    <p class="help-text">
        Enter your cards one line at a time with a number at the beginning specifying how many cards you have. Multiple single line card entries will get added togther as well. Specifying a set is encouraged but not required. You may specify a set with (set_code) placed after the card name. Some valid samples are provided below:

        1x Acclaimed Contender
        All That Glitters
        2 Archon of Absolution
        1 All That Glitters (eld)
    </p>
    <%= f.submit 'Save Collection', class: 'bulk-edit_submit__btn' %>
    <% end %>
</div>