<div id="edit-collections-wrapper">
  <div id="collections" class="container">
    <input id="card-search" type="text" placeholder="Begin typing to find a card..."/>
    <div class="card-grid">
    </div>
  </div>
</div>
<script>


  var wishlist = []
  var current_user_cards = <%= @cards.to_json.html_safe %>

  var cardCount = function(id) {
    return current_user_cards[id] || 0;
  }

  $(function() {
    var token = $("meta[name='csrf-token']").attr("content");

    var populateGrid = function(res) {
      clearGrid();
      res.forEach(function(card) {
        $('.card-grid').append(cardTemplate(card));
      });
    };

    var clearGrid = function() {
      $('.card-grid').empty();
    }

    $('#card-search').keyup(debounce(function() {
      query = $(this).val();
      if (query.length > 0) {
        xhrRequest('/cards/?query=' + query, "GET", function(res) { populateGrid(res) } )
      } else {
        clearGrid();
      }
    }, 300));

    xhrRequest('/wishlists/' + <%= current_user.id %>, 'GET', function(res) { wishlist = res; });

    $(document).off('click', '.add-card');
    $(document).on('click', '.add-card', function() {
      id = $(this).attr('data-id');
      $(`input[type=number][data-id=${id}]`).val(function(i, val) {
        return parseInt(val) + 1
      });
    });

    $(document).off('click', '.remove-card');
    $(document).on('click', '.remove-card', function() {
      id = $(this).attr('data-id');
      $(`input[type=number][data-id=${id}]`).val(function(i, val) {
        if (val > 0) {
          return parseInt(val) - 1
        } else {
          return val
        }
      });
    });

    $(document).off('click', '.add-card, .remove-card');
    $(document).on('click', '.add-card, .remove-card', debounce(function(){
      id = $(this).attr('data-id');
      count = $(`input[type=number][data-id=${id}]`).val()
      xhrRequest('/collections/<%=@collection.id %>', "PUT", function(res){ current_user_cards[id] = count }, { id: <%= @collection.id %>, ownership: {count: count, card_id: id, collection_id: <%= @collection.id %>}});
    }, 200));

    $(document).off('click', '.toggle-wishlist');
    $(document).on('click', '.toggle-wishlist', function(){
      card_id = $(this).attr('data-id');
      xhrRequest('/wishlists/<%= current_user.id %>', "PUT", function(res) {wishlist=res;}, {card_id: card_id});
    });
  
 });
</script>
