<div id="collections__wrapper">
  <div id="collections" class="collections__container">
    <div class="sub-nav">
      <h3 class="sub-nav_heading"><%= "#{@collection.user.name}'s Collection" %></h3>
      <%= link_to 'Edit', edit_collection_path(@collection.id), class: 'sub-nav_link__btn' if policy(@collection).edit? %>
      <%= link_to 'Collection', collection_path(@user.id), class: 'sub-nav_link__btn active' if !policy(@collection).edit? %>
      <%= link_to 'Wishlist', wishlist_path(@user.id), class: 'sub-nav_link__btn' %>
      <%= link_to 'Tradables', tradable_path(@user.id), class: 'sub-nav_link__btn'%>
    </div>
    <div class="card-grid">
      <% @cards.each do |card| %>
        <div class="card-grid__card__wrapper test">
          <div class="card-grid__card">
            <a href="/cards/<%= card.id %>">
              <img alt="<%= card.name %>" title="<%= card.name %>" src="<%= card.image_url %>">
            </a>
          </div>  
        </div>
      <% end %>
    </div>
  </div>
</div>


