<div id="collections-wrapper">
  <div id="collections" class="container">
    <div class="card-view-nav">
      <h3><%= "#{@collection.user.name}'s Collection" %> </h3>
      <%= link_to 'Edit Collection', edit_collection_path(@collection.id), class: 'btn' if policy(@collection).edit? %>
      <%= link_to 'Collection', collection_path(@user.id), class: 'highlight-mid  btn' if !policy(@collection).edit? %>
      <%= link_to 'Wishlist', wishlist_path(@user.id), class: 'btn' %>
      <%= link_to 'Tradables', tradable_path(@user.id), class: 'btn'%>
    </div>
    <div class="card-grid">
      <% @cards.each do |card| %>
        <div class="card-wrapper">
           
          <a class="card-grid-item">
            <img class="card" alt="<%= card.name %>" title="<%= card.name %>" src="<%= card.image_url %>">
          </a>  
        </div>
      <% end %>
    </div>
  </div>
</div>


