<div id="collection" class="dashboard_card-view active">
  <div class="dashboard_card-interface_action-bar">
    <div class= "dashboard_card-interface_action__btn" onclick="Helpers.toggleElementById('collection-grid', 'togglable__view')">Temp Gal Button</div>
    <div class= "dashboard_card-interface_action__btn" onclick="Helpers.toggleElementById('collection-table', 'togglable__view')">Temp List Button</div>
    <%= link_to 'Edit', edit_collection_path(user.collection.id), class: 'dashboard_card-interface_action__btn' if policy(user.collection).edit? %>
    <%= link_to 'Bulk Edit', bulk_edit_collection_path(user.collection.id), class: 'dashboard_card-interface_action__btn' if policy(user.collection).bulk_edit? %>
 </div>
  <div id="collection-table" class="dashboard_card-interface__table active togglable__view">
    <div class="dashboard_card-view__row-headings">
      <div class="dashboard_card-view__cell">Card</div>
      <div class="dashboard_card-view__cell">Tradable</div> 
    </div>
  </div>
  <div id="collection-grid" class="togglable__view">
  <div class="card-grid">
  </div>
  </div>
</div>

<script>
let currentUserId = <%= current_user.id %>
let userId = <%= @user.id %>
let currentUserWishlist = <%= raw @current_user_wishlist.to_json %>
let cards = <%= raw @cards.to_json %>
let tradables = <%= raw @tradables.to_json %>

CardLayout.populateCards(cards, currentUserWishlist, tradables, currentUserId, userId)

var alertTemplate = function(key, value) {
  return `
  <div id="alert__container" class="active alert alert-${key}">
  ${value}
        <a class="close__button" href="#" onclick="Helpers.toggleElementById('alert__container')" data-turbolinks="false"><i class="fas fa-times"></i></a>
  </div>
  `
};

</script>
