<div id="dashboard-wrapper">
  <div class="container">
    <h2><%= @user.name %></h2>
    <%= link_to 'Edit', [:edit, @user], class: 'btn small' if policy(@user).edit? %>
  </div>

  <%= render 'user_trades' %>
  <%= render 'user_decks' %>
  <%= render 'user_collections' %>
</div>
