<div id="dashboard-wrapper">
  <div class="container">
    <h2><%= @user.name %></h2>
    <%= link_to 'Edit', [:edit, @user], class: 'btn small' if policy(@user).edit? %>
  </div>

  <%= render 'user_trades', user: @user %>
  <%= render 'user_decks', user: @user %>
  <%= render 'user_collections', user: @user %>
</div>
