<%= react_component("CyclingBackground", {bgPath:get_random_bg_image}) %>
<div class="login">
  <div class="login__content">
  <h3 class="login__title">Sign Up</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="login_form-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="login_form-field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="login_form-field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="login_form-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <%= f.submit "Sign up", class: "button login__submit-button"  %>

    <%= link_to "Back to Login", new_user_session_url, class:"login__button button button--ghost" %>

    <% end %>
  </div>
</div>