<div id="tradable-wrapper">
  <div id="tradable" class="container">
         <div class="card-view-nav">
            <h3><%= "#{@user.name}'s Tradables" %> </h3>
            <%= link_to 'Collection', collection_path(@user.id), class: 'btn' %>
            <%= link_to 'Wishlist', wishlist_path(@user.id), class: 'btn' %>
            <%= link_to 'Tradables', tradables_path(@user.id), class: 'highlight-mid btn'%>
    </div>
    <div class="card-grid">
      <% @user.tradable_cards.each do |card| %>
        <div class="card-wrapper">
         <div class="wishlist wishlist-checkbox">
          <input class="toggle-wishlist" wish-list-id="${search('id', card.attributes.id, wishlist) === undefined ? -1 : search('id', card.attributes.id, wishlist).id}" data-id="${card.attributes.id}" id="wl-checkbox-for-${card.attributes.id}" type="checkbox" ${search('id', card.attributes.id, wishlist) === undefined ? '' : 'checked' }>
          <label for="wl-checkbox-for-${card.attributes.id}"></label>
        </div>          
          <a class="card-grid-item">
           <img class="card" alt="<%= card.name %>" title="<%= card.name %>" src="<%= card.image_url %>">
           
          </a>  
        </div>
      <% end %>
    </div>
  </div>
</div>


