<div id="tradable__wrapper">
  <div id="tradable" class="container">
    <div class="sub-nav">
      <h3 class="sub-nav_heading"><%= "#{@user.name}'s Tradables" %> </h3>
      <%= link_to 'Collection', collection_path(@user.id), class: 'sub-nav_link__btn'%>
      <%= link_to 'Wishlist', wishlist_path(@user.id), class: 'sub-nav_link__btn' %>
      <%= link_to 'Tradables', tradable_path(@user.id), class: 'sub-nav_link__btn active'%>
    </div>
    <div class="card-grid">
      <% @user.tradable_cards.each do |card| %>
        <div class="card-grid_card__wrapper">
          <div class="card-grid_card">
            <a href="/cards/<%= card.id %>">
              <img alt="<%= card.name %>" title="<%= card.name %>" src="<%= card.image_url %>">
            </a
          </div>  
        </div>
      <% end %>
    </div>
  </div>
</div>


