<% matches.each do |match|%>
  <div class="admin_matches__row row">
    <div class="admin_matches__cell-date cell"><%= match.played_at.strftime("%a %b #{match.played_at.day.ordinalize}")%></div>
    <div class="admin_matches__cell-time cell"><%= match.played_at.strftime("%I:%M%p")%></div>             
    <div class="admin_matches__cell cell"><span class="admin_matches-label-mobile">Winner: </span><%= match.winner.name %></div>
    <div class="admin_matches__cell cell"><span class="admin_matches-label-mobile">Loser: </span><%= match.loser.name %></div>
    <div class="admin_matches__cell-id cell"><span class="admin_matches-label-mobile">ID: </span><%= match.id %></div>
    <div class="admin_matches__cell-edit cell"><%= link_to 'Edit', edit_admin_match_path(match),  :class => "admin_matches__cell_edit__btn"  %></div>
    <div class="admin_matches__cell-delete cell"><%= link_to 'Delete' ,admin_match_path(match), method: :delete, data: { confirm: 'Are you sure?' }, :class => "admin_matches__cell_delete__btn" %></div>
  </div>
<% end %>