<div class="cycling-background" style="background: url('<%= get_random_bg_image %>') 50% 0% / cover no-repeat;">
</div>
<div class="rankings container">
  <h1 class="rankings-title">Rankings</h1>
  <%= form_with(url: "/", :class =>"rankings-date_form", method: "get", local: true) do %>
    <%= select_date(@match_date, { order: [:month, :year], prefix: :match_date}, { onchange: ("this.form.submit();") } ) %>
  <% end %>
  <div class="rankings-wrapper">
    <div class="rankings-border">
      <div class="rankings-border_vert rankings-border_bar rankings-border_left"></div>
      <div class="rankings-border_vert rankings-border_bar rankings-border_right"></div>
      <div class="rankings-border_horz rankings-border_bar rankings-border_top"></div>
      <div class="rankings-border_horz rankings-border_bar rankings-border_bottom"></div>
    </div>
    <div class="rankings-scroll-catcher">
      <div class="rankings-vert-centerer">
        <div id="rankings" class="rankings-player-listing">
          <div id="ranked-players">
            <% @ranked_players.each.with_index do |user, i| %>
              <%= link_to "#{i+1}. #{user.name} (#{@matches.where(winner: user).count}-#{@matches.where(loser: user).count}) - #{user.ranking&.round(2)}", user_path(user), :class => "user-btn   ranked" %>
            <% end %>
          </div>
          <hr class="rankings-divider"/>
          <div id="unranked-players">

            <% @unranked_players.each.with_index do |user, i| %>
              <%= link_to "#{user.name} (#{@matches.where(winner: user).count}-#{@matches.where(loser: user).count})", user_path(user), :class => "user-btn unranked" %>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--  Ranking Page Scripts-->
  <!-- TO DO: STRIP THESE OUT INTO SEP FILES -->
  <!--List animation cue-->
  <script>
    var ul = document.getElementById("rankings");
    var items = ul.getElementsByTagName("a");
    for (var i = 0; i < items.length; i++) {

      items[i].style.animationDuration = .2 + (i / 3) + "s";
    }
  </script>