<% case @draffle.status
  when 'created', 'valid', 'invalid' %>
    <div class="draffle__alert">
      <div class="draffle__alert--emoji">🚧</div>
      The admins are hard at work setting up a new draffle. Check back in soon!
    </div>
  <% when 'started', 'paused', 'pending' %>
    <div class="draffle__viewer">
      <h1 class="draffle__viewer--name"><%= @draffle.name %></h1>
      <%= link_to "https://discord.com/channels/#{ENV["DISCORD_SERVER_ID"]}/#{@draffle.discord_thread_id}", class: "draffle__viewer--thread-link" do %>
        <i class="fab fa-discord"></i>Discord Thread
      <% end %>
      <% if @draffle.status == "started" %>
        <h2>Currently Picking</h2>
        <div class="draffle__viewer--picker">
          <%= image_tag @draffle.on_the_clock.gravatar_path %>
          <h3><%= @draffle.on_the_clock.name %></h3>
          <div>Autopicks In: <%= react_component("Countdown", { end: Autodraft::Manager.autopick_time_utc } ) %></div>
        </div>
      <% else %>
        <h3>Draffle Is Currently <%= @draffle.status.capitalize %></h3>
      <% end %>
      <h2>Prizes</h2>
      <div class="draffle__viewer--image-view">
        <%= image_tag @draffle.draffle_img if @draffle.draffle_img.attached? %>
      </div>
    </div>
  <% when 'processing' %>
    <%= render 'processing' %>
  <% when 'completed' %>
    <%= react_component("Draffles/DraffleCompleted", {
      draffle: @draffle,
      draft_board: @draffle.board,
      admin: false,
    })%>
<% end %>