<% content_for :head do %>
<meta name="description" content="<%= truncate(@wiki.content, length: 150) %>">
<meta name="robots" content="index, follow">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
<script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
<% end %>

<h1 class="wiki-title"><%= link_to "Wiki", wikis_path %></h1>
<%= render partial: "wiki_2_nav", locals: { content: capture do %>
<h2><%= @wiki.title %></h2>

<div class="trix-content">
    <%= @wiki.content.html_safe %>
</div>

<% if current_user.admin? %>
<%= link_to 'Edit', edit_wiki_path(@wiki), class: 'button wiki-action' %>
<% end %>
<% end }%>