<p id="notice"><%= notice %></p>

<% Wiki.where(parent: @wiki.id).each do |child_page|%>
<li>
    <%= link_to child_page.title, wiki_path(child_page) %>
</li>
<%end%>
<% if @wiki.parent.present? %>
<p>
    Back to: <%= link_to @wiki.parent.title, wiki_path(@wiki.parent) %>
</p>
<% end %>
<div><%= @wiki.id %></div>

<p>
    <strong>Title:</strong>
    <%= @wiki.title %>
</p>

<p>
    <strong>Content:</strong>
    <%= @wiki.content %>
</p>

<p>
    <strong>Slug:</strong>
    <%= @wiki.slug %>
</p>

<p>
    <strong>Children:</strong>
    <%= @wiki.children %>
</p>

<p>
    <strong>Parent:</strong>
    <%= @wiki.parent %>
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>