<div class="cycling-background" style="background: url('<%= get_random_bg_image %>') 0% 0% / cover no-repeat;">
</div>
<div class="login">
  <div class="login-content">
    <h2 class="login__title">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login_form-field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="login_form-field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="login_form-field">
          <%= f.check_box :remember_me, class: "login_checkbox" %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <%= f.submit "Log in", class: "login_submit__btn" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>