 <div class="matches">
    <div class="matches-container">
        <h2>Matches</h2>
        <div id="match-history" class="matches-table">
          <div class="matches-row-headings">
          <div class="matches-cell-date">Date</div>
          <div class="matches-cell-time">Time</div>              
          <div class="matches-cell">Winner</div>         
          <div class="matches-cell">Loser</div>         
          <div class="matches-cell-id" >ID</div>           
        </div>
      
        <% @matches.each do |match| %>
        <div class="matches-row">
            <div class="matches-cell-date"><%= match.played_at.strftime("%a %b #{match.played_at.day.ordinalize}")%></div>
            <div class="matches-cell-time"><%= match.played_at.strftime("%I:%M%p")%></div>             
            <div class="matches-cell"><span class="matches-label-mobile">Winner: </span><%= match.winner.name %></div>
            <div class="matches-cell"><span class="matches-label-mobile">Loser: </span><%= match.loser.name %></div>
            <div class="matches-cell-id"><span class="matches-label-mobile">Match ID: </span><%= match.id %></div>
        </div>
        <% end %>  
        </div>
    </div> 
  </div>
  
 