<div id="card-profile__wrapper">
    <div class="container">
        <div class="card__wrapper">
            <img class="card" alt="<%= @card.name %>" title="<%= @card.name %>" src="<%= @card.image_url %>">
            <button class="btn small">Propose a Trade</button>  
            <button class="btn small">Add to Wishlist</button>
        </div>
        <div id="league-details">      
             <h4>Total In League Copies: <span><%= @total_count %></span></h4>
             <div class="alternating table two-col">
                <div class="headings row">
                <p>Owner</p>
                <p>Amount</p>
                </div>
                <% @owner_details.each do |id, details| %>
                    <div class="row">
                        <p><a href="/users/<%= id %>"><%= details[:name] %></a></p>
                        <p><%= details[:count] %></p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>