
<div class="admin-users">
  <div class= "admin-users__container">
    <h3>Users</h3>
    <div class="admin-users__table table">
      <div class="admin-users__row-headings row row--headings">
        <div class="admin-users__cell cell">Name</div>
        <div class="admin-users__cell cell">Email</div>
        <div class="admin-users__cell cell">Status</div>
        <div class="admin-users__cell cell">Locked At</div>
      </div>
      <% @users.each do |user| %>
        <div class="admin-users__row row" >
        <div class="admin-users__cell cell"><%= link_to user.name, user_path(user) %></div>
          <div class="admin-users__cell cell"><%= link_to user.email, user_path(user) %></div>
          <div class="admin-users__cell cell">
              <%= link_to 'locked', admin_user_unlock_path(user), { method: "patch", class: 'button'} if !user.locked_at.nil? %>
              <%= link_to 'unlocked', admin_user_lock_path(user), { method: "patch", class: 'button button--secondary'} if user.locked_at.nil? %>
          </div>
          <div class="admin-users__cell cell"><%= user.locked_at %></div>
        </div>
      <% end %> 
    </div>
  </div>
</div>
