<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Ogre the Leaguening</title>
     <%= favicon_link_tag asset_path('favicon.svg') %>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <nav id="nav" role="navigation">
        <div class="nav-wrapper container">
          <a href="/" id="logo-container" href="#" class="brand-logo">
            <%= image_tag "logo.svg" %>
          </a>
          <ul class="menu">
            <li>
              <a href="/">rankings</a>
            </li>
            <li>
              <%= link_to "profile", user_path(current_user) %>
            </li>
            <li><a class="drop-down-toggle" onclick="closeOtherDropDown(),idedElementToggle('dd-menu-cards')">Cards &#9660;</a> 
              <ul id="dd-menu-cards" class="dropdown-content">
                <div class="">
                  <li>
                    <a href="/trades">trades</a>
                  </li>
                  <li>
                    <a href="/collections">collections</a>
                  </li>
              </ul>
            </li>         
            <li><a class="drop-down-toggle" onclick="closeOtherDropDown(), idedElementToggle('dd-menu-league')">League &#9660;</a> 
              <ul id="dd-menu-league" class="dropdown-content">

                <li>
                  <a href="/rules">Rules</a>
                </li>
                <li>
                  <a href="/users">Roster</a>
                </li>
                <li>
                  <a href="mailto:ogretheleaguening@gmail.com?subject=From the Web App">Contact</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" id="match-log-toggle" class="btn waves-effect waves-light" onclick="logMatchOnClick()">
                Log a match
              </a>
            </li>
          </ul>
          <ul class="mobile-menu">
            <li>
              <a class="btn waves-effect waves-light golden drop-down-toggle" onclick="idedElementToggle('dd-menu-mobile')">

                &#9660;

              </a>
              <ul id="dd-menu-mobile" class="dropdown-content">
                <li>
                  <a href="/">rankings</a>
                </li>
                <li>
                  <a href="/trade">Trades</a>
                </li>
                <li>
                  <a href="/dashboard">profile</a>
                </li>
                <li>
                  <a href="/rules">Rules</a>
                </li>
                <li>
                  <a href="/collections">collections</a>
                </li>
                <li>
                  <a href="/users">Roster</a>
                </li>
                <li>
                  <a href="mailto:ogretheleaguening@gmail.com?subject=From the Web App">Contact</a>
                </li>
              </ul>

            </li>
            <li>
              <a href="#" id="match-log-toggle" class="btn waves-effect waves-light golden" onclick="logMatchOnClick()">
                Log a match
              </a>
            </li>




          </ul>
                </div>
      </nav>

    <% end %>

    <div class="section full-page">
      <% flash.each do |key, value| %>
        <div id="alert-container" class="active alert alert-<%= key %> <%= user_signed_in? ? '' : 'logged-out' %>"><%= value %> <a class="close-button" href="#" onclick="idedElementToggle('alert-container')">&#9650;</a></div>
      <% end %>
      <%= yield %>
    </div>

    <div id="match-logger-container">
      <div class="background-click-container" onclick="idedElementToggle('match-logger-container')"></div>
      <div class="section">
        <button class="close-button" href="#" class="match-log-close" onclick="idedElementToggle('match-logger-container')">
          <i class="material-icons">cancel</i>
        </button>
        <%= form_tag "/matches", method: "post", id: "match-logger" do %>
          <p></p>
          <h3>Log Match</h3>
          <p>Who played?</p>
          <select class="browser-default player-selector" name="match[playerA]">
            <% @users.each do |user| %>
              <option value="<%=user.id%>"><%=user.name%></option>
            <% end %>
          </select>
          <select class="browser-default player-selector" name="match[playerB]">
            <% @users.each do |user| %>
              <option value="<%=user.id%>"><%=user.name%></option>
            <% end %>
          </select>
          <p>Who won?</p>
          <select class="browser-default winner-selector" name="match[winner]">
          </select>
          <p>When?</p>
          <input id="match-date" type="date" name="match[date]"/>
          <input id="match-time" type="time" name="match[time]"/>
          <input type="submit" />
        <% end %>
      </div>
    </div>

    <% if user_signed_in? %>
      <footer class="page-footer">
        <div class="container">

          <% if current_user %>
            <p>Logged in as <% if current_user%><%=current_user.name%><%end%>,
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
          <% end %>

          <div class="copyright">
            <p>Developed by OWB</p>
          </div>
        </div>
      </footer>

    <% end %>
    <!-- Site Wide Scipts -->
    <!-- TO DO: STRIP THESE OUT INTO SEP FILES -->
    <script>

      function idedElementToggle(elementId){
        event.preventDefault();
        var target = document.getElementById(elementId);
        target.classList.toggle("active");
      }
//Reminder to JOE, this and the function below are the ones I mentioned on our walk to day (Tues 10-9), that have to be added to the App-layout.js -PAT
function closeOtherDropDown(){
  var dropDownMenus = document.getElementById("nav").querySelectorAll(".dropdown-content");            
  for (var i = 0; i < dropDownMenus.length; i++) {
    dropDownMenus[i].classList.remove("active");
  }
}

window.onclick = function(event) {
  if (!event.target.matches('.drop-down-toggle')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('active')) {
        openDropdown.classList.remove('active');
      }
    }
  }
}
function setMatchDateAndTime(){
  let date  = new Date();
  let today = date.toISOString().substr(0, 10);
  let hour = ('0' + date.getHours()).slice(-2);
  let min= ('0' + date.getMinutes()).slice(-2);
  let time = `${hour}:${min}`;
  document.getElementById('match-date').value = today;
  document.getElementById('match-time').value = time;
}

function logMatchOnClick() {
  event.preventDefault();
  idedElementToggle('match-logger-container');
  setMatchDateAndTime();
}

var addPlayerOption = function(name, id) {
  return `
                <option value="${id}">${name}</option>
                `
}

$(function() {
  $('.player-selector').on('change', function() {
    $('.winner-selector').empty();
    $('.player-selector option:selected').each(function(i, value) { $('.winner-selector').append(addPlayerOption($(value).text(), $(value).val()))})
  });
});
    </script>
  </body>
</html>
