<!DOCTYPE html>
<html>
  <head>
    <title>MtgLeague</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Ogre the Leaguening</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <nav role="navigation">
        <div class="nav-wrapper container">
          <a href="/" id="logo-container" href="#" class="brand-logo">
            <%= image_tag "logo.svg" %>
          </a>
          <ul class="menu">
           <li>
              <a href="/">rankings</a>
            </li>
              <li>
              <a href="/">trades</a>
            </li>
            <li>
              <a href="/dashboard">dashboard</a>
            </li>
            <li>
              <a href="/rules">Rules</a>
            </li>
            <li>
              <a href="mailto:ogretheleaguening@gmail.com?subject=From the Web App">Contact</a>
            </li>
            <li>
              <button href="#" id="match-log-toggle" class="btn waves-effect waves-light" onclick="idedElementToggle('match-logger-container')">
                <i class="material-icons">note_add</i>Log a match
              </button>
          </ul>
          <ul class="mobile-menu">
            <li>
              <button href="#" id="match-log-toggle" class="btn waves-effect waves-light golden" onclick="idedElementToggle('match-logger-container')">
                <i class="material-icons">note_add</i>Log a match
              </button>
            </li>
            <li>
              <button class="btn waves-effect waves-light golden drop-down-toggle" onclick="idedElementToggle('dd-menu')">
                <i class="material-icons">menu</i>

              </button>
              <ul id="dd-menu" class="dropdown-content">
                <li>
                  <a href="/">rankings</a>
                </li>
                <li>
                  <a href="/dashboard">dashboard</a>
                </li>
                <li>
                  <a href="/rules">Rules</a>
                </li>
                <li>
                  <a href="mailto:ogretheleaguening@gmail.com?subject=From the Web App">Contact</a>
                </li>
              </ul>

            </li>

            <li>


            </li>

          </ul>
        </div>
      </nav>

    <% end %>

    <div class="section full-page">
      <%= yield %>
    </div>

    <div id="match-logger-container">
      <div class="background-click-container" onclick="idedElementToggle('match-logger-container')"></div>
      <div class="section">
        <button class="close-button" href="#" class="match-log-close" onclick="idedElementToggle('match-logger-container')">
          <i class="material-icons">cancel</i>
        </button>
        <%= form_tag "/matches", method: "post", id: "match-logger" do %>
          <p></p>
          <h3>Log Match</h3>
          <p>Who played?</p>
          <select class="browser-default player-selector" name="match[playerA]">
            <% @users.each do |user| %>
              <option value="<%=user.id%>"><%=user.name%></option>
            <% end %>
          </select>
          <select class="browser-default player-selector" name="match[playerB]">
            <% @users.each do |user| %>
              <option value="<%=user.id%>"><%=user.name%></option>
            <% end %>
          </select>
          <p>Who won?</p>
          <select class="browser-default winner-selector" name="match[winner]">
          </select>
          <p>When?</p>
          <input type="date" name="match[date]"/>
          <input type="time" name="match[time]"/>
          <input type="submit" />
        <% end %>
      </div>
    </div>

      <% if user_signed_in? %>
        <footer class="page-footer">
          <div class="container">
            <% if current_user %>
              Logged in as <%= link_to current_user, current_user %>,
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
            <% end %>
            <div class="footer-copyright">

            </div>
          </div>
        </footer>

      <% end %>
      <!-- Site Wide Scipts -->
      <!-- TO DO: STRIP THESE OUT INTO SEP FILES -->
      <script>

        function idedElementToggle(elementId){
          var target = document.getElementById(elementId);
          target.classList.toggle("active");
        }

var addPlayerOption = function(name, id) {
  return `
        <option value="${id}">${name}</option>
        `
}

$(function() {
  $('.player-selector').on('change', function() {
    $('.winner-selector').empty();
    $('.player-selector option:selected').each(function(i, value) { $('.winner-selector').append(addPlayerOption($(value).text(), $(value).val()))})
  });
});
      </script>
  </body>
</html>
