<!DOCTYPE html>
<html>
  <head>
    <title>MtgLeague</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <meta name="turbolinks-cache-control" content="no-cache">
    <script src="https://kit.fontawesome.com/bf38c6b1c9.js" crossorigin="anonymous"></script>
    <title>Ogre the Leaguening</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body onload="setTimeout(AppLayout.timedAlertClose, 5000)">
    <% if user_signed_in? %>
      <% unlockedUsers = User.unlocked %>
      <%= react_component("Navigation", {
        currentUserId: current_user.id,
        isAdmin:  current_user.admin,
        unlockedUsers: unlockedUsers,
        collections: unlockedUsers.map { |user| user.collection }
      }) %>
    <% end %>

    <div class="app__section full-page">
      <% flash.each do |key, value| %>
        <div id="alert"  class="active alert alert-<%= key %> 
          <%= user_signed_in? ? '' : 'logged-out' %>"><%= value %>
          <a class="alert__close-button" href="#" onclick="Helpers.toggleElementById('alert')" data-turbolinks="false"><i class="fas fa-times"></i></a></div>
      <% end %>
      <%= yield %>
    </div>

    <% if user_signed_in? %>
      <footer class="footer">
        <div class="footer-content">

          <% if current_user %>
            <p>Logged in as <% if current_user%><%=current_user.name%><%end%>,
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
          <% end %>

          <div class="copyright">
            <p>Developed by OWB</p>
          </div>
        </div>
      </footer>

    <% end %>
    <!-- Site Wide Scipts -->
    <script>
      $(document).on('turbolinks:load');
  </script>
  </body>
</html>
