<!DOCTYPE html>
<html>
  <head>
    <title>MtgLeague</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Ogre the Leaguening</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body onload="setTimeout(function() {Helpers.toggleElementById('alert-container')}, 5000)">
    <% if user_signed_in? %>
      <nav id="top-nav" class="nav" role="navigation">
        <div class="nav-wrapper container">
          <a href="/" class="nav_logo-container" data-turbolinks="false">
          <%= show_svg('logo.svg') %>
          </a>
          <ul class="nav_menu">
            <li>
              <a href="/" data-turbolinks="false">rankings</a>
            </li>
            <li>
              <%= link_to "profile", user_path(current_user) %>
            </li>
            <li><a class="drop-down-toggle" onclick="AppLayout.closeOtherDropDown(), Helpers.toggleElementById('dd-menu-cards')">Cards &#9660;</a> 
              <ul id="dd-menu-cards" class="dropdown-content">
                  <li>
                    <a href="/trades">trades</a>
                  </li>
                  <li>
                    <a href="/collections">collections</a>
                  </li>
                  <li>
                    <a href="/wishlists">wishlists</a>
                  </li>
                      <li>
                  <a href="/tradables">tradables</a>
                </li>             
              </ul>
            </li>         
            <li><a class="drop-down-toggle" onclick="AppLayout.closeOtherDropDown(), Helpers.toggleElementById('dd-menu-league')">League &#9660;</a> 
              <ul id="dd-menu-league" class="dropdown-content">
                 <li>
                  <a href="/matches">Matsdadches</a>
                </li>
                <li>
                  <a href="/rules">Rules</a>
                </li>
                <li>
                  <a href="/users">Roster</a>
                </li>
                <li>
                  <a href="mailto:ogretheleaguening@gmail.com?subject=From the Web App">Contact</a>
                </li>
              </ul>
            </li>
            <% if current_user.admin? %>
              <li>
                <a class="drop-down-toggle" onclick="AppLayout.closeOtherDropDown(), Helpers.toggleElementById('dd-menu-admin')">Admin &#9660;</a>
                <ul id="dd-menu-admin" class="dropdown-content">
                  <li><a href="/admin/matches">Matches</a></li>
                  <li><a href="/admin/users">Users</a></li>
                  <li><a href="<%= edit_admin_setting_path(1) %>">Settings</a></li>
                </ul>
              </li>
            <% end %>
            <li>
              <a href="#" class="btn waves-effect waves-light log-match-toggle">
                Log a match
              </a>
            </li>
          </ul>
          <ul class="nav_mobile-menu">
            <li>
              <a class="btn waves-effect waves-light golden drop-down-toggle" onclick="Helpers.toggleElementById('dd-menu-mobile')">

                &#9660;

              </a>
              <ul id="dd-menu-mobile" class="dropdown-content">
                <li>
                  <a href="/" data-turbolinks="false">rankings</a>
                </li>
                <li>
                  <a href="/trades">Trades</a>
                </li>
                <li>
                  <a href="/dashboard">profile</a>
                </li>
                <li>
                  <a href="/rules">Rules</a>
                </li>
                  <li>
                  <a href="/matches">Matches</a>
                </li>
                <li>
                  <a href="/collections">collections</a>
                </li>
                <li>
                  <a href="/wishlists">wishlists</a>
                </li>
                  <li>
                  <a href="/tradables">tradables</a>
                </li>
                <li>
                  <a href="/users">Roster</a>
                </li>
                <% if current_user.admin? %>
                <li><a href="/admin/matches">Admin Matches</a></li>
                <li><a href="/admin/users">Admin Users</a></li>
                <li><a href="<%= edit_admin_setting_path(1) %>">Admin Settings</a></li>
                <% end %>
                <li>
                  <a href="mailto:ogretheleaguening@gmail.com?subject=From the Web App">Contact</a>
                </li>
              </ul>

            </li>
            <li>
              <a href="#" class="btn waves-effect waves-light golden log-match-toggle">
                Log a match
              </a>
            </li>




          </ul>
                </div>
      </nav>

    <% end %>

    <div class="section full-page">
      <% flash.each do |key, value| %>
        <div id="alert-container"  class="active alert alert-<%= key %> <%= user_signed_in? ? '' : 'logged-out' %>"><%= value %> <a class="close-button" href="#" onclick="Helpers.toggleElementById('alert-container')" data-turbolinks="false">&#9650;</a></div>
      <% end %>
      <%= yield %>
    </div>

    <div id="match-logger-container">
      <div class="background-click-container" onclick="Helpers.toggleElementById('match-logger-container')"></div>
      <div class="section">
        <button class="close-button" href="#" class="match-log-close" onclick="Helpers.toggleElementById('match-logger-container')">
          <i class="material-icons">cancel</i>
        </button>
        <%= form_tag "/matches", method: "post", id: "match-logger" do %>
        
          <h3>Log Match</h3>
          <p>Who played?</p>
          <select class="browser-default player-selector" name="match[playerA]">
            <% User.unlocked.each do |user| %>
              <option value="<%=user.id%>"><%=user.name%></option>
            <% end %>
          </select>
          <select class="browser-default player-selector" name="match[playerB]">
            <% User.unlocked.each do |user| %>
              <option value="<%=user.id%>"><%=user.name%></option>
            <% end %>
          </select>
          <p>Who won?</p>
          <select class="browser-default winner-selector" name="match[winner]">
          </select>
          <p>When?</p>
          <input id="match-date" type="date" name="match[date]"/>
          <input id="match-time" type="time" name="match[time]"/>
          <input type="submit" />
        <% end %>
      </div>
    </div>

    <% if user_signed_in? %>
      <footer class="footer">
        <div class="footer-content">

          <% if current_user %>
            <p>Logged in as <% if current_user%><%=current_user.name%><%end%>,
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
          <% end %>

          <div class="copyright">
            <p>Developed by OWB</p>
          </div>
        </div>
      </footer>

    <% end %>
    <!-- Site Wide Scipts -->
    <script>
      $(document).on('turbolinks:load', AppLayout.initialize(<%= user_signed_in? %>, <%= current_user ? current_user.id : nil %>));
  </script>
  </body>
</html>
